__pycache__/
*.py[cod]

venv/
env/
.env

.vscode/

.DS_Store


dataset/
images/
data/
tests/
lightning_logs/
tb_logs/


*.pth
*.pt
*.zip

.idea/
*.iml

/bin/
/dist/

vendor/
*.out
coverage.txt

*.test

*.exe
*.exe~
*.dll
*.so
*.dylib